<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <img src="../../../../assets/img/all-flat-design-animals.jpg" alt="animal's crew">
    <h1 class="title text-center">Welcome to the cutest page on the web!</h1>
  </header>

  <main>
    <h2 class="text-center">Choose an animal from the list and cuteness will overwhelm you</h2>
    <form class="d-flex justify-content-center ms-3 mt-5">
      <select class="selected-animal me-3" name="selected-animal" [(ngModel)]="this.formService.chosenAnimal">
        <option value="shibes">Shibes</option>
        <option value="cats">Cats</option>
        <option value="birds">Birds</option>
      </select>
      <input class="input me-3" type="number" name="number" [(ngModel)]="this.formService.numb">
      <button class="btn btn-success" (click)="btnClick()">Click for cuteness</button>
    </form>
  </main>

</body>


