img {
  width: 100%;
}

.selected-animal {
  width: 200px;
}

select {
  border: 1px solid;
  border-color: rgba(33,37,41,255);
}

.input {
  width: 200px;
  border: 1px solid;
  border-color: rgba(33,37,41,255);
}

.btn {
  border-radius: 7px;
}
